#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        //zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 1  &kp SPACE    &lt 3 RET  &mo 2  &kp RALT
            >;
        };

        Numbers {
            label = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB       &mt N1 KP_N1        &mt N2 KP_N2        &mt N3 KP_N3        &kp EQUAL           &kp ASTERISK     &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp N8          &kp N9           &kp N0             &kp BSPC
&kp LEFT_ALT  &mt NUMBER_4 KP_N4  &mt NUMBER_5 KP_N5  &mt NUMBER_6 KP_N6  &kp MINUS           &kp SLASH        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp UP          &rgb_ug RGB_EFR  &rgb_ug RGB_EFF    &trans
&kp LSHFT     &mt NUMBER_7 KP_N7  &mt NUMBER_8 KP_N8  &mt NUMBER_9 KP_N9  &mt NUMBER_0 KP_N0  &kp BACKSLASH    &rgb_ug RGB_TOG   &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT_ARROW  &ext_power EP_TOG  &tog 4
                                                      &kp LGUI            &trans              &kp SPACE        &kp RET           &trans             &kp RALT
            >;
        };

        Symbols {
            label = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        Fn_bt {
            bindings = <
&kp F1      &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 2  &trans  &trans  &trans
&kp LG(F7)  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &bt BT_CLR_ALL  &bt BT_SEL 1  &bt BT_SEL 3  &trans  &trans  &trans
&trans      &trans  &trans  &trans   &trans   &trans     &trans          &trans        &trans        &trans  &trans  &trans
                            &trans   &trans   &trans     &trans          &trans        &trans
            >;
        };

        Gaming {
            label = "BASIC GAMING SETUP";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp I       &kp A  &kp S  &kp D  &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp J       &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                          &kp M  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };
    };
};
